
{% extends 'baseBack.html.twig' %}
{% block javascripts %}
<script src="{{ asset('../back-office/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('../back-office/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('../back-office/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('../back-office/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ asset('../back-office/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('../back-office/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ asset('../back-office/plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ asset('../back-office/plugins/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ asset('../back-office/plugins/pdfmake/vfs_fonts.js') }}"></script>
<script src="{{ asset('../back-office/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('../back-office/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('../back-office/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<script>
$(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
});
  </script>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback') }}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('back-office/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{{ asset('back-office/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ asset('back-office/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ asset('back-office/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('back-office/dist/css/adminlte.min.css') }}">
{% endblock %}
{% block body %}
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
            <div class="card-header">
            <h3 class="card-title">Listes Des Evenement :</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                <th>id</th>
        
        <th>Nom</th>
        <th>date</th>
        <th>heure debut</th>
        <th>heure fin</th>
        
        
      
                
                </tr>
                </thead>
                <tbody>
                


{% for evenement in evenements  %}
        <tr>
            <td> {{  evenement.id  }}</td>
            <td>   {{ evenement.nomEv}}</td>
             <td>   {{ evenement.dateEv|date('Y-m-d')}}</td>
              <td>   {{ evenement.heuredEv|date('H:i:s') }}</td>
              <td>   {{ evenement.heurefEv|date('H:i:s')  }}</td>
              
              
            
              
               
              
            
        </tr>
    {%endfor %}
    <td><a href="{{path('evenement_new')}}">ajouter</a></td>


                </tbody>
                <tfoot>
                <tr>
               <th>id</th>
        
        <th>Nom</th>
        <th>date</th>
        <th>heure debut</th>
        <th>heure fin</th>
        
        
        
                
                </tr>
                </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}